html, body, #map-canvas {
	height: 100%;
	min-height: 250px;
	margin: 0px;
	padding: 0px
}
#over_map { position: absolute; background-color: transparent; top: 10px; left: 10px; z-index: 99; background: white; }
#over_map_right { position: absolute; background-color: transparent; top: 40px; right: 10px; z-index: 99; background: white; }
