<?php echo $this->doctype(); ?>

<html lang="es_ES">
	<head>
		<?php echo $this->headTitle('CulturARt')->setSeparator(' - ')->setAutoEscape(false) ?>
		
		<?php echo $this->headMeta()
			->setCharset('utf8')
		    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
		    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
		?>
		
		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
		                ->prependStylesheet($this->basePath() . '/css/style.css?v=1.0.0', 'screen')
		                ->prependStylesheet($this->basePath() . '/css/reset.css?v=1.0.0', 'screen')
		                ->prependStylesheet($this->basePath() . '/css/skeleton.css?v=1.0.0', 'screen')
		                ->prependStylesheet($this->basePath() . '/css/superfish.css?v=1.0.0', 'screen')
		                ->prependStylesheet($this->basePath() . '/css/flexslider.css?v=1.0.0', 'screen')
		                ->prependStylesheet($this->basePath() . '/css/forms.css?v=1.0.0', 'screen')
						->prependStylesheet($this->basePath() . '/css/map.css?v=1.0.0', 'screen')
						->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
						->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
		                ->prependStylesheet($this->basePath() . '/css/ie.css?v=1.0.0', 'all', 'IE 9') ?>
		
		<!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/jquery-1.7.1.min.js')
            ->prependFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
			->appendFile($this->basePath() . '/js/jquery-ui-1.10.3.custom.min.js')
            ->appendFile($this->basePath() . '/js/script.js?v=1.0.0')
            ->appendFile($this->basePath() . '/js/superfish.js?v=1.0.0')
            ->appendFile($this->basePath() . '/js/jquery.responsivemenu.js')
            ->appendFile($this->basePath() . '/js/jquery.flexslider-min.js')
            ->appendFile($this->basePath() . '/js/FF-cash.js?v=1.0.0')			
			->appendFile($this->basePath() . '/js/map.js?v=1.0.0')  
			->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->appendFile($this->basePath() . '/js/html5.js?v=1.0.0',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
				
		<!--[if lt IE 8]>
		   <div style=' clear: both; text-align:center; position: relative;'>
		     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		    </a>
		  </div>
		<![endif]-->
		
	</head>
<body>
<!-- header -->
<header class="padheader">
	<div class="container_24">
		<div class="grid_24">
			<h1 class="fleft"><a href="<?php echo $this->url('home') ?>">CulturARt</a></h1>
			<ul class="sf-menu">
				<li><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a></li>
				<li><a href="<?php echo $this->url('content') ?>">Maker</a><ul>
						<li><a href="#"><?php echo utf8_encode('Tipologías')?></a><ul>
								<li><a href="<?php echo $this->url('content', array(
								                	'controller' => 'morfologia', 
													'action' => 'index')) ?>">
										<?php echo utf8_encode('Morfología')?></a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">El proyecto&nbsp;<span class="arrow"></span></a><ul>
						<li><a href="#">History</a></li>
						<li><a href="#">Work Team</a></li>
						<li><a href="#">Profile</a><ul>
								<li><a href="#">Mission</a></li>
								<li><a href="#">Capabilities</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Partnership</a></li>
							</ul>
						</li>
						<li><a href="#">Testimonials</a></li>
					</ul>
				</li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</header>
<!-- banner -->
<?php echo $this->layout()->slider ?>
<!-- content -->
<section>
	<?php echo $this->content ?>
</section>
<!-- footer -->
<footer class="padfooter">
	<div class="container_24">
		<div class="wrapper">
			<div class="grid_24"><a href="<?php echo $this->url('home') ?>" class="link"><img src="<?php echo $this->basePath('images/logo-footer.png') ?>" alt=""></a> &copy; 2013 - <?php echo date('Y') ?> | <?php echo $this->translate('All rights reserved.') ?></div>
		</div>
	</div>
</footer>

<?php echo $this->inlineScript() ?>
  
</body>
</html>
